<h1>Liste des maisons</h1>

<table>
	<thead>
		<tr>
			<td>Numéro</td>
			<td>Adresse</td>
			<td>Appareils</td>
			<td>Consommation</td>
			<td>Superficie</td>
		</tr>
	</thead>
	<tbody>
  <tr ng-repeat="home in homes">
    <td>{{ home.num }}</td>
    <td>{{ home.adresse }}</td>
    <td>{{ home.appareils }}</td>
    <td>{{ home.consommation }}</td>
    <td>{{ home.superficie }}</td>
  </tr>
  </tbody>
</table>

<table>
</table>