
<h1>SuperApp</h1>

<hr/>

<form>
  Name : <input type="text" name="name" ng-model="lieu.name" ng-change="change(lieu.name)"/>
  Address : <input type="text" name="address" ng-model="lieu.address"  ng-change="change(lieu.address)"/>
  Private ? : <input type="checkbox" name="private" ng-model="lieu.private"  ng-change="change(lieu.private)"/>
</form>

<hr/>

<div>
  Informations :
  <p ng-hide="lieu.private">
    Nom : {{lieu.name}}
    <br/>
    Adresse : {{lieu.address}}.
  </p>
  <p ng-show="lieu.private">
    Ce lieu est secret.
  </p>
</div>

<hr/>

<h3>Directive</h3>

<div>
  <div mon-lieu></div>
</div>

<hr/>

<h3>Service $log</h3>

<button ng-click="$log.log(lieu)">Log</button>
<button ng-click="$log.info(lieu)">Info</button>
<button ng-click="$log.warn(lieu)">Warn</button>
<button ng-click="$log.error(lieu)">Error</button>

<hr/>

<h3>Service $http</h3>
<textarea cols="50" rows="5"ng-model="response"></textarea>
<br/>

<input type="text" name="servicehttp" ng-model="request"/>
<button ng-click="httpget()">GET</button>
